body {
	font-family: 'Inter', sans-serif;
	background-color: #202020;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
    font-size: 12pt;
}

h1 {
	font-size: 22.5pt;
	text-align: center;
}

h3 {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1;
}

hr {
	font-size: 16pt;
	background-color: white;
	margin: 0;
	height: 2.5px;
}

#title {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 80vw;
}

#navBar {
	display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
    background-image: radial-gradient(circle 523px at 7.1% 19.3%,  rgba(147,15,255,1) 2%, rgba(5,49,255,1) 100.7% );
    padding: 10px;
    border-radius: 50px;
}

label {
    font-weight: 800;
    font-size: 15px;
    margin: 5px 0;
}

#mainContainer {
	width: 70%;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

#leftContainer {
	float: left;
    width: 30%;
    margin: 0 auto;
}

#rightContainer {
	float: right;
    width: 30%;
    margin: 0 auto;
}

#memoryContainer {
	float: left;
	margin-left: auto;
	margin-right: auto;
	height: 80vh;
	width: 150px;
}

#memory {
	float: right;
	width: 150px;
    height: 90%;
}

#block {
	box-sizing: border-box;
	border: 1px solid #2C3E50;
	width: 100%;
}

#blockLabel {
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

.available {
	background-color: #27ae60;
}

.unavailable {
	background-color: #c0392b;
}

#processTable {
    width: 400px;
}

#processTable th {
	text-align: left;
	padding-right: 20px;
}

#processTable td {
	color: #BDC3C7;
}

#processForm {
    display: flex;
}
input[name="processTime"] {
    margin-left: 25px;
}